/* Reset */
* {
  margin: 0;
  padding: 0;
}
/* Style Dasar*/
body {
  font-family: 'roboto';
  background-color: #333;
  position: relative;
}
/* aos cuman sebagian ajah🗿 */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px); /* Geser elemen ke bawah sejauh 20px */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animate-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Background Navbar */

.topnav {
  background-color: #000000;
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 1;
  font-family: 'Hacked';
}


/* Logo style */

.topnav a:last-child {
  float: right;
  margin: auto;
}

/* Style Navbar*/
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Warna navbar ketika di hover */
.topnav a:hover {
  background-color: #ad2b2b;
  color: rgb(255, 255, 255);
}

.topnav a:first-child{
  background-color: #ad2b2b;
}

/* Halaman Pembuka */
.utama {
  width: 100%;
  height: 400px;
  background-image: url('/img/utama.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.utama:hover {
  background-image: url('/img/123.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

/* Sontainer Style */
.container{
  background-color: #333;
}



/* Footer Style */
.footer{
  background-color: #000000;
  color: white;
  height: 40px;
  text-align: center;
}
.footer p {
  padding-top: 10px;
}


/* animasi jika a di click */


/* Font */
@font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts/Trajan\ Pro.ttf');
  font-family: 'Trajan Pro Bold';
  src: url('../fonts/TrajanPro-Bold.otf');
}

/* Responsive */
* ukuran tablet */
@Media screen and (max-width: 768px) {
    
}

/* ukuran mobile */
@media screen and (max-width: 576px){

}
/*kumpulan animasi */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes overlayfade{
  /* Keadaan awal: elemen transparan dan berada di bawah */
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  /* Keadaan akhir: elemen terlihat dan berada di posisi normal */
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@keyframes fade-infull{
  /* Keadaan awal: elemen transparan dan berada di bawah */
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  /* Keadaan akhir: elemen terlihat dan berada di posisi normal */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Membuat animasi bernama slide-in untuk elemen p */
@keyframes slide-in {
  /* Keadaan awal: elemen transparan dan berada di kiri */
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  /* Keadaan akhir: elemen terlihat dan berada di posisi normal */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomDanFade {
  0% {
      transform: scale(0);
      opacity: 0;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes slidedownfade {
  0% {
      opacity: 0;
      margin-top: -20px;
  }

  100% {
      opacity: 1;
      margin-top: 0;
  }
}

@keyframes reveal {
  0% {
      clip-path: inset(0 100% 0 0); /* Mulai dari kanan */
  }
  100% {
      clip-path: inset(0 0 0 0); /* Penuh */
  }
}

@keyframes fill-up {
  /* Keadaan awal: elemen memiliki background transparan */
  0% {
    background: transparent;
  }
  /* Keadaan akhir: elemen memiliki background kuning */
  100% {
    background: yellowgreen;
  }
}