/* Reset */
* {
  margin: 0;
  padding: 0;
}
/* Style Dasar*/
body {
  font-family: 'roboto';
}

p, a {
  animation: slide-in .5s;
}

/* aos cuman sebagian ajah🗿 */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(10px); /* Geser elemen ke bawah sejauh 20px */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animate-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Background Navbar */

.topnav {
  background-color: #000000;
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 1;
  font-family: 'Hacked';
}


/* Logo style */

.topnav a:last-child {
  float: right;
  margin: auto;
}

/* Style Navbar*/
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Warna navbar ketika di hover */
.topnav a:hover {
  background-color: #ad2b2b;
  color: rgb(255, 255, 255);
}

.topnav a:first-child{
  background-color: #ad2b2b;
}

.topnav a:nth-child(6):hover {
  background-color: #000;
}

/* Navbar  */

/* Sontainer Style */
.container{
  background-color: #333;
}

/* Halaman Pembuka */
.utama {
  width: 100%;
  height: 80vh;
  background-image: url('/img/utama.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.utama:hover {
  background-image: url('/img/utama.gif');
  background-position-y: 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Profile */
.profile {
  width: 100%;
  height: 85vh;
  background-color: rgb(99, 99, 99);
  display: flex;
  padding-top: 8vh;
}

.profile img {
  border: solid 2px #333;
  height: 30vh;
  border-radius: 10%;
  transition: .5s;
  margin-left: 50px;
}

.titlename {
  width: 15vh;
  text-align: center;
  border-radius: 2vh;
  color: #000000;
  background-color: white;
  margin-left: 30%;
  transition: .6s;
  opacity: 0;
  transform: translateY(-20px);
}

.titlename p {
  margin-left: -25px;
  margin-top: -15px;
  margin-right: -15px;
  line-height: 0;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: smaller;
}

.profile img:hover {
  transform: translateY(-10px);
  box-shadow: #ad2b2b 10px 10px, 1px;
}

.profile img:hover ~ .titlename {
  transform: translateY(-50px);
  opacity: 1;
}

.profile p {
  font-size: medium;
  line-height: 1.5;
  text-align: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-right: 30%;
}

.profile div{
  padding-left: 40px;
  padding-top: 20px;
}
/* overlay */
.overlay {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.5s;
  text-align: center;
  padding: 100px 0 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.overlay:target img {
  animation: zoomDanFade 1s;
}

.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
}

.overlay:target .close {
  animation: slidedownfade .5s .5s forwards;
}
/* Project Style */
.project {
  background-color: #c4c4c4;
  width: 100%;
  height: 60vh;
  overflow-x: hidden;
  padding: 3vh 0;
}
.project .overview {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-content: center;
  text-align: center;
  align-items: center;
  margin-top: 3vh;
}

.overview img {
  width: auto;
  height: 20vh;
  margin-top: 3vh;
}

/* Skill Style */
.skill {
  display: flex;
  justify-content: center;
  gap: 10vh;
  height: max-content;
  background-color: rgb(97, 105, 105);
}

.skill ul{
  text-align: left;
  margin-left: 5vh;
  line-height: 5vh;
  font-family: Impact;
  font-size: larger;
}

.box {
  width: 300px;
  height: max-content;
  border: #ad2b2b 2px solid;
  margin-top: 5vh;
  transition: .7s;
  padding: 5vh 0vh;
  margin-bottom: 15vh;
  border-radius: 7vh;
}

.box h2{
  text-align: center;
  margin-top: -4vh;
}

.box img{
  width: auto;
  height: 20vh;
  position:relative;
  left: 50%;
  transform: translateX(-50%);
}

.box:hover{
  background-color: white;
  transform: translateY(-5vh);
}
/* Footer Style */
.footer{
  background-color: #000000;
  color: white;
  height: 5vh;
  width: 100%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  bottom: 0;
  padding-top: 1vh;
}

.footer p {
}

/* animasi jika a di click */


/* Font */
@font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts/Trajan\ Pro.ttf');
  font-family: 'Trajan Pro Bold';
  src: url('../fonts/TrajanPro-Bold.otf');
}

/* Responsive */

/* ukuran mobile */
@media screen and (max-width: 576px){
  /* scroll */
  .scroll {
    background-position-x: center;
    background-size: 99%;
    height: 90px;
  }
  .scroll:hover {
    background-position-x: center;
    background-size: 99%;
  }
  /* Profile */
  .profile {
    padding-left: 0;
  }
  .profile p {
    padding-right: 0;
    font-size: medium;
  }
}
/*kumpulan animasi */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes overlayfade{
  /* Keadaan awal: elemen transparan dan berada di bawah */
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  /* Keadaan akhir: elemen terlihat dan berada di posisi normal */
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@keyframes fade-infull{
  /* Keadaan awal: elemen transparan dan berada di bawah */
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  /* Keadaan akhir: elemen terlihat dan berada di posisi normal */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Membuat animasi bernama slide-in untuk elemen p */
@keyframes slide-in {
  /* Keadaan awal: elemen transparan dan berada di kiri */
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  /* Keadaan akhir: elemen terlihat dan berada di posisi normal */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomDanFade {
  0% {
      transform: scale(0);
      opacity: 0;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes slidedownfade {
  0% {
      opacity: 0;
      margin-top: -20px;
  }

  100% {
      opacity: 1;
      margin-top: 0;
  }
}

@keyframes reveal {
  0% {
      clip-path: inset(0 100% 0 0); /* Mulai dari kanan */
  }
  100% {
      clip-path: inset(0 0 0 0); /* Penuh */
  }
}

@keyframes fill-up {
  /* Keadaan awal: elemen memiliki background transparan */
  0% {
    background: transparent;
  }
  /* Keadaan akhir: elemen memiliki background kuning */
  100% {
    background: yellowgreen;
  }
}