/* Membuat container pertama dengan z-index 1 dan display none */
.container1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1;
    display: none;
  }
  
  /* Membuat container kedua dengan z-index 2 dan display none */
  .container2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    z-index: 2;
    display: none;
  }
  
  /* Mengubah display menjadi block ketika container pertama menjadi target */
  .container1:target {
    display: block;
  }
  
  /* Mengubah display menjadi block ketika container kedua menjadi target */
  .container2:target {
    display: block;
  }
  